name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3

      - name: Install Dependency
        run: npm install

      - name: Run Lint
        run: npm run lint

      - name: Run Format Check
        run: npm run format:check

  coverage:
    needs: [lint]
    runs-on: ubuntu-latest
    permissions:
      contents: read

    services:
      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: casbin
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/casbin

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ^20

      - name: Install Dependency
        run: npm install

      - name: Generate Prisma Client
        run: npx prisma generate

      - name: Push Database Schema
        run: npx prisma db push

      - name: Run Coverage
        run: npx jest --coverage --forceExit

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true

  test:
    needs: [lint]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        node: [^20]

    services:
      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: casbin
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/casbin

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Install Dependency
        run: npm install

      - name: Generate Prisma Client
        run: npx prisma generate

      - name: Push Database Schema
        run: npx prisma db push

      - name: Run Unit test
        run: npm run test

  semantic-release:
    needs: [lint, test, coverage]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ^20

      - name: Run semantic-release
        if: github.repository == 'node-casbin/prisma-adapter' && github.event_name == 'push'
        run: |
          npm install
          npm run build
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
